**/*.iml
**/.gradle
**/local.properties
**/.idea/caches
**/.idea/libraries
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/assetWizardSettings.xml
**/.DS_Store
**/build
**/Debug
**/captures
**/.externalNativeBuild
**/.cxx

# Android specific
**/app/build/
**/app/*.apk
**/app/*.aab
**/gradle-app.setting
**/android/**/*.keystore

# .NET specific
**/bin/
**/obj/
**/*.dll
**/*.pdb
**/*.exe
**/*.nuget.props
**/*.user
**/.vs/

# Java / Maven
**/target/
**/*.class
**/*.war
**/*.ear

# Keep local.properties only once (removed duplicate)
/TI1.7 RESTFUL_JAVA_CONDBB_EUREKABANK_GR03/02. CLIESC/eurekabank_escritorio/dist/
/TI1.7 RESTFUL_JAVA_CONDBB_EUREKABANK_GR03/02. CLICON/eurekabank_consola/dist/
/TI1.7 REST_JAVA_CONDBB_EUREKABANK_GR03/02. CLICON/eurekabank_consola/dist/
/TI1.7 REST_JAVA_CONDBB_EUREKABANK_GR03/02. CLICON/eurekabank_consola/nbproject/private/
/TI1.7 REST_JAVA_CONDBB_EUREKABANK_GR03/02. CLIESC/eurekabank_escritorio/dist/
/TI1.7 REST_JAVA_CONDBB_EUREKABANK_GR03/02. CLIESC/eurekabank_escritorio/nbproject/private/
/TI1.8 REST_DOTNET_CONDBB_EUREKABANK_GR03/02. CLICON/eurekabank_consola/dist/
/TI1.8 REST_DOTNET_CONDBB_EUREKABANK_GR03/02. CLICON/eurekabank_consola/nbproject/private/
/TI1.8 REST_DOTNET_CONDBB_EUREKABANK_GR03/02. CLIESC/eurekabank_escritorio/nbproject/private/
/TI1.8 REST_DOTNET_CONDBB_EUREKABANK_GR03/02. CLIESC/eurekabank_escritorio/dist/
